{% extends 'layouts/base.html' %} {% load static %} {% block title %}Appointments{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

<div class="container my-4">
  <div class="shadow p-2 rounded-5 text-center my-5 bg-dark-subtle position-relative">
    <a class="position-absolute fs-3 text-black" style="left: 1%" href="{% url 'admin_home' %}">🔙</a>
    <h2 class="text-center">Appointments</h2>
  </div>
  <div class="row grid-header">
    <div class="grid-col col-1">#</div>
    <div class="grid-col col-9">Appointment</div>
    <div class="grid-col col-2">Actions</div>
  </div>
  {% for appointment in appointments %}
  <div key="{{ appointment.id }}" class="grid-row">
    <div class="grid-col col-1 border-end border-secondary">{{ forloop.counter }}</div>
    <div class="grid-col col-9 border-end border-secondary">{{ appointment }}</div>
    <div class="grid-col col-2 gap-2 d-flex">
      {% if request.user.is_staff and request.user.is_superuser %}
      <a href="{% url 'appointment_delete' appointment.id %}" name="appointment_delete" class="btn btn-danger text-light mx-1">Delete</a>
      {% endif %}
    </div>
    <hr />
  </div>
  {% endfor %}

  <div class="d-flex justify-content-center my-4">
    <ul class="pagination">
      <span class="step-links">
        {% if appointments.has_previous %}
        <a class="btn btn-sm btn-dark" href="?page=1">&laquo; first</a>
        <a class="btn btn-sm btn-primary" href="?page={{ appointments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current"> Page {{ appointments.number }} of {{ appointments.paginator.num_pages }}. </span>

        {% if appointments.has_next %}
        <a class="btn btn-sm btn-primary" href="?page={{ appointments.next_page_number }}">next</a>
        <a class="btn btn-sm btn-dark" href="?page={{ appointments.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </ul>
  </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
