{% extends 'layouts/base.html' %} {% load static %} {% block title %}Post Details{% endblock %} {% block content %}
<div class="container my-4">
  <div class="shadow p-2 rounded-5 text-center my-5 bg-dark-subtle position-relative">
    <a class="position-absolute fs-3 text-black" style="left: 1%" href="{% url 'postslist' %}">🔙</a>
    <h2 class="text-center">Posts</h2>
  </div>
  <div class="card mb-4">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="Post Image" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          Title:
          <p class="card-title">{{ post.title }}</p>
          Body:
          <p class="card-text">{{ post.content }}</p>
          Created at:
          <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
          Updated at:
          <p class="card-text"><small class="text-muted"> {{ post.updated_at }}</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <p class="card-text">Likes: {{ post.all_likes.count }}</p>
      <div class="card-text">
        <p>Comments:</p>
        {% for comment in post.all_comments %}
        <p>{{ comment }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
