{% extends 'layouts/base.html' %} {% load static %} {% block title %}Edit Case{% endblock %} {% block content %}
<div class="shadow w-50 m-auto mt-5 border rounded-5">
  <div class="d-flex justify-content-between shadow p-4 rounded-5">
    <h2 class="">Edit Case</h2>
    <a href="{% url 'clinics_cases_list' %}" class="btn btn-dark">Back</a>
  </div>
  <form method="post" enctype="multipart/form-data" class="p-3">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" name="case" class="btn btn-outline-success form-control mt-3" value="Update Case" />
  </form>
</div>
<script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
<script src="{% static 'javascript/script.js'%}"></script>
{% endblock%}
