{% extends 'layouts/base.html' %} {% load static %} {% block title %}Create User{% endblock %} {% block content %}
<div class="shadow w-50 m-auto mt-5 border rounded-5">
  <h2 class="shadow p-4 rounded-5">Create User</h2>
  <form method="post" enctype="multipart/form-data" class="p-3">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ user_form.email.id_for_label }}" class="form-label">Email</label>
      {{ user_form.email }} {{ user_form.email.errors }}
    </div>

    <div class="mb-3">
      <label for="{{ user_form.password1.id_for_label }}" class="form-label">Password</label>
      {{ user_form.password1 }} {{ user_form.password1.errors }}
    </div>

    <div class="mb-3">
      <label for="{{ user_form.password2.id_for_label }}" class="form-label">Confirm Password</label>
      {{ user_form.password2 }} {{ user_form.password2.errors }}
    </div>

    <div class="mb-3">
      <label for="{{ user_form.is_doctor.id_for_label }}" class="form-label">Is Doctor</label>
      {{ user_form.is_doctor }} {{ user_form.is_doctor.errors }}
    </div>

    <div class="mb-3">
      <label for="{{ user_form.phone.id_for_label }}" class="form-label">Phone</label>
      {{ user_form.phone }} {{ user_form.phone.errors }}
    </div>

    <div class="mb-3">
      <label for="{{ user_form.clinic.id_for_label }}" class="form-label">Clinic</label>
      {{ user_form.clinic }} {{ user_form.clinic.errors }}
    </div>

    <input type="submit" name="user" class="btn btn-outline-success form-control mt-3" value="Create User" />
  </form>
</div>
<script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
<script src="{% static 'javascript/script.js'%}"></script>
{% endblock%}
