{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    </head>
    <body>
        <div class="container my-4">
            <h1 class="text-center text-info mb-4">Admin Home</h1>
          </div>
          <div class="col-16">
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title text-center display-5">Medical History</h2>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between">
                    <a href="{% url 'allmedical' %}" class="text-primary text-decoration-none"><span class="fw-bold">MedicalHistory</span></a>
                    <span class="badge bg-secondary">{{medical_count}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-16">
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title text-center display-5">Posts</h2>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between">
                    <a href="{% url 'postslist' %}" class="text-primary text-decoration-none"><span class="fw-bold">Posts</span></a>
                    <span class="badge bg-secondary">{{postscount}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-16">
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title text-center display-5">Reviews</h2>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between">
                    <a href="{% url 'reviewlist' %}" class="text-primary text-decoration-none"><span class="fw-bold">Reviews</span></a>
                    <span class="badge bg-secondary">{{reviewcount}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-16">
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title text-center display-5">Clinics</h2>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between">
                    <a href="{% url 'clinics_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Clinics</span></a>
                    <span class="badge bg-secondary">{{clinicscount}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-16">
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title text-center display-5">Clinics Cases</h2>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between">
                    <a href="{% url 'clinics_cases_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Clinic Cases</span></a>
                    <span class="badge bg-secondary">{{cliniccasesscount}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-16">
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title text-center display-5">Clinics Images</h2>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between">
                    <a href="{% url 'clinics_images_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Clinic Images</span></a>
                    <span class="badge bg-secondary">{{clinicimagescount}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
    </body>
</html>



